#privateMessageBox {
	max-height: 300px;
	overflow-y: auto;
	.badge {
		&.default {
			white-space: initial;
		}
	}
}
.online-list-item {
	bottom: 0;
}

.list-talks {
	top: $nav-height + 48px;
}

.list-group-item-unread {
	background-color: $gray-200;
}
