#privateMessageBox {
	max-height: 300px;
	overflow-y: auto;
	.default {
		white-space: initial;
		overflow: hidden;
		& > p {
			margin-bottom: 0;
		}
	}
}
.online-list-item {
	bottom: 0;
}

.list-group-item-unread {
	background-color: $gray-200;
}

#list-talks {
	.list-group-item {
		.post-body {
			> p {
				margin: 0;
			}
		}
	}
}
