#app {
	& > nav {
		fill: currentColor;

		.dropdown-menu {
			min-width: 20rem;
		}

		#navbarDropdownTalks {
			.list-group {
				.list-group-item {
					a:hover {
						small {
							text-decoration: none;
						}
					}
				}
			}
		}
		[aria-labelledby='navbarDropdownTalks'] {
			max-height: 200px;
			overflow-y: auto;
		}
	}
}
