#app {
	& > nav {
		fill: currentColor;

		a {
			color: $body-color;
		}

		.dropdown-menu {
			min-width: 20rem;
			width: 100%;
		}

		#navbarDropdownTalks {
			.list-group {
				.list-group-item {
					a:hover {
						small {
							text-decoration: none;
						}
					}
				}
			}
		}
		[aria-labelledby='navbarDropdownTalks'] {
			max-height: 200px;
			overflow-y: auto;
		}

		.dropdown-toggle {
			.badge-count {
				top: 0;
				right: 0;
			}
		}
	}
}
