.header-site {
	background-image: url('../svg/circuit-board.svg');
	background-attachment: fixed;
}
.bg-success-opacity {
	background-color: rgba($success, 0.2);
}
.sticky-top-navbar-height {
	top: $nav-height + 48px;
}
