// Typography
$enable-responsive-font-sizes: true;
$input-box-shadow: initial;
$input-padding-y: 0.5rem;

$enable-shadows: true;
$enable-caret: false;

$nav-height: 61px;

$primary: #35495e;
$success: #41b883;
$danger: #ff6a6a;

$body-color: #4f5959;

$b-toaster-offset-top: $nav-height + 15px;
$b-toaster-offset-right: 31px;

$btn-border-radius-sm: 2rem;
$btn-border-radius: 2.5rem;
$input-border-radius: 2rem;
